:root {
  --primary: #3A6D8C;
  --secondary: #6A9AB0;
  --background-color: #001F3F;
  --sand: #EAD8B1;
}

body {
  background-color: #6A9AB0;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #6A9AB0;
}

a {
  text-decoration: none !important;
  color: #000 !important;
}

#navbar {
  background-color: var(--primary);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 4rem;
}

#navbar img {
  width: 150px;
}

/** HOMEPAGE */
.homepage-container {
  /* margin: 4rem; */
}

.sort-container {
  display: flex;
  justify-content: left;
  margin: 1.5rem;
}

.sort-button {
  background-color: var(--background-color);
  color: white;
  /* font-size: 1rem; */
  border: none;
  border-radius: 8px;
  padding: 0.4rem 0.8rem;
  transition: background-color 0.3s ease;
}

.sort-button:hover {
  background-color: var(--primary);
  color: var(--background-color);
}

.container-jetski {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.jetski-card {
  background-color: var(--sand);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.jetski-card img {
  width: 100%;
  height: 200px;
}

.jetski-card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.jetski-card a p {
  color: var(--primary);
  font-weight: bold;
}

.jetski-card .price {
  /* margin-bottom: 1rem; */
}

.jetski-card:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

/**************************************************/
/** Página JetSki DETAILS */
.jetski-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
  margin: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  /* background-color: #001F3F; */
}

.jetski-details img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 12px;
}

.jetski-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  background-color: var(--primary);
  border-radius: 12px;
}

.jetski-header h2, .jetski-header h1 {
  padding: 0.4rem 3rem;
  font-size: 1.8rem;
  margin: 0;
}

.jetski-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 1.5rem;
}

.jetski-info p {
  padding-right: 2rem;
  white-space: pre-line;
}

/* Contenedor de la reserva a la derecha */
.reservation-container {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 12px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--primary);
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
}

.date-reservation input {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  text-align: center;
}

.btn-reserve {
  background-color: var(--primary);
  color: #fff;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
  width: 100%;
  font-size: 1.1rem;
}

.btn-reserve p {
  margin: 0;
}

.btn-reserve:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Sección reserva si no está autenticado */
.login-reservation {
  text-align: center;
  background-color: #ccc;
  padding: 0.6rem 1rem;
  border-radius: 8px;
}

.login-reservation p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

/**************************************************/
/** Perfiles */
.user-profile {
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .user-profile {
    margin: 0 8rem;
  }
}

.user-details {
  width: 100%;
  background-color: #f5f5f5;
  padding: 1rem 0;
  text-align: center;
  margin: 2rem 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* gap: 2rem; */
}

.user-details img {
  width: 150px;
  height: 150px;
  margin: 1rem;
  border-radius: 50%;
  object-fit: cover;
}

.user-data {
  text-align: center;
  width: 100%;
  padding: 1rem;
}
@media (min-width: 768px) {
  .user-details {
    flex-direction: row;
    padding: 1rem;
  }

  .user-details img {
    width: 200px;
    height: 200px;
    margin-right: 2rem;
  }

  .user-data {
    text-align: left;
  }
}

.owner-actions {
  /* background-color: #000;
  display: block; */
}


/**************************************************/
/* Perfiles -- Contenedor motos y reservas */
.owner-jetskis {  
  width: 100%;
  background-color: #001F3F;
  text-align: center;
  border-radius: 12px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 1rem;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}

.owner-jetskis h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #ccc;
  font-weight: 600;
}

.owner-jetskis p {
  color: #fff;
}

/* RESERVAS desde el perfil */
.reservation-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  color: #333;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 12px;
  width: 80%;

}

.reservation-details {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.reservation-details h3 {
  font-size: 1.4rem;
  margin: 0;
  color: var(--background-color);
  font-weight: 700;
}

@media (min-width: 768px) {
  .reservation-details h3 {
    font-size: 1.8rem;
  }
}

.reservation-card p {
  color: #000;
  text-align: left;
}

/** Clases de bootstrap para el acordeon */
.accordion-button {
  padding: 0.5rem !important;
  background-color: #00000026 !important;
  /* margin-bottom: 1rem !important; */
}
.accordion-button:not(.collapsed) {
  background-color: var(--secondary) !important;
}
.accordion-button:focus {
  z-index: 3;
  outline: 0;
  box-shadow: var(--sand) !important;
}
.accordion-body {
  padding: 1rem !important;
  padding-bottom: 0 !important;
  margin: 0 !important;
}

/* .accordion-body p {
  color: red;
} */

/* Sección del precio */
.price-section {
  margin-top: 1rem;
  text-align: right;
}

.price-section .price {
  color: var(--sand);
  font-size: 1.4rem;
  font-weight: 600;
  text-align: right;
}



/** FOOTER */
#footer {
  background-color: var(--primary);
  width: 100%;
  height: 4rem;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center; 
}

/* Formulario de registro */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.form-title {
  margin-bottom: 1.5rem;
  color: var(--background-color);
  text-align: center;

}

.form {
  background-color: var(--secondary);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--background-color);
  font-size: 1.1rem;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid var(--primary);
  margin-bottom: 1rem;
  font-size: 1rem;
  background-color: #fff;
}

.form-input:focus {
  outline: none;
  border-color: var(--secondary);
  box-shadow: 0 0 8px var(--primary);
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

/* Clase de bootstrap */
.checkbox-input .form-check-input {
  margin-right: 10px;
}

.checkbox-input .form-check-label {
  font-weight: bold;
  color: var(--primary);
  margin-right: 10px;
}


.submit-button {
  width: 100%;
  padding: 0.8rem;
  background-color: var(--primary);
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: var(--sand);
  color: var(--background-color);
}

.error-message {
  color: rgb(135, 24, 24);
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
  background-color: #33333359;
  padding: 0.5rem;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .form-container {
    padding: 1rem;
  }

  .form-title {
    font-size: 2rem;
  }

  .form-input {
    font-size: 1rem;
  }

  .submit-button {
    font-size: 1rem;
  }
}