:root {
  --primary: #3A6D8C;
  --secondary: #6A9AB0;
  --background-color: #001F3F;
  --sand: #EAD8B1;
}

body {
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #001529;
}

a {
  text-decoration: none !important;
  color: #000 !important;
  font-family: 'Oswald', sans-serif !important;
}

.video {
  position: relative;
  overflow: hidden;
}

.video video {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 70%;
}

/* Texto superpuesto en el video */
.overlay {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: max-content;
  padding: 0.5rem 2rem;
  border-radius: 12px;
  background-color: #3a6d8ce9;
  color: var(--sand);
  /* background-color: rgba(21, 66, 102, 0.884); */
}

.overlay a {
  /* color: var(--sand) !important; */
  font-size: 1.5rem;
  font-weight: bold;
}

/***********************************************/
/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001f3fdf;
  padding: 0.4rem 2rem;
  margin-left: auto;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

#nav-left img {   /* Logo */
  width: 150px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #ead8b1e2;
  padding: 0.2rem 0.9rem;
  border-radius: 500px;
}

#profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Clases de Bootstrap */
.navbar {
  background-color: var(--sand);
  padding: 0.4rem 1rem !important;
  border-radius: 500px;
  margin: 0 auto;
  margin-top: 1rem;
}

.dropdown-menu {
  background-color: var(--sand) !important;
  border: 0 !important;
  left: 0 !important; /* Alineado con el contenedor padre */
  right: 0 !important;
  min-width: 100% !important;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
              0px 4px 6px 0px rgba(0, 0, 0, 0.1);
  /* text-align: center !important; */
  border-radius: 0 0 10px 10px !important;
}

a.dropdown-item {
  padding: 0;
  text-align: center;
}

.dropdown-item:hover {
  background-color: var(--sand) !important;
  color: #3A6D8C !important;
}

/* Media queries */
@media (max-width: 600px) {
  #navbar {
    flex-direction: column;
    margin-left: 0;
    padding: 1rem;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .dropdown-menu {
    right: auto !important;
    text-align: center !important;
  }
}

/* Estilos específicos para el dropdown de cuenta */
.account-dropdown .dropdown-menu {
  border-radius: 0 0 12px 12px !important;
  text-align: center !important;
}

.account-dropdown {
  padding: 0.2rem 0.9rem;
}

@media (min-width: 600px) {
  .navbar { /* Clase de bootstrap */
    margin-left: 3rem;
    margin-top: 0;
  }

  #navbar {
    border-radius: 30px;
    margin: 1rem;
    margin-left: auto;
  }

  .dropdown-menu{
    text-align: right !important;
  }
}

/*********************************************/
/** HOMEPAGE */
.homepage-container {
  margin-top: 6rem;
}

@media (min-width: 400px) {
  .homepage-container {
    margin: 8.6rem 2rem 0;
  }
}

.homepage-container  p {
  color: var(--sand);
}

.sort-container {
  display: flex;
  justify-content: right;
  margin: 1.5rem;
}

.sort-button {
  background-color: var(--background-color);
  color: white;
  /* font-size: 1rem; */
  border: none;
  border-radius: 8px;
  padding: 0.4rem 0.8rem;
  transition: background-color 0.3s ease;
}

.sort-button:hover {
  background-color: var(--primary);
  color: var(--background-color);
}

.container-jetski {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.jetski-card {
  background-color: var(--sand);
  border-radius: 10px;
  max-width: 270px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.jetski-card:hover {
  box-shadow: 0px 4px 10px var(--primary);
}

.jetski-card img {
  width: 100%;
  height: 200px;
}

/* Título */
.jetski-card a p {
  display: flex;
  justify-content: space-between;
  color: var(--background-color);
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin: 0;
}
/* Precio */
.jetski-card a p span{
  color: var(--primary);
}

/** REVIEWS */
.jetski-image-container {
  position: relative;
  width: 100%;
}

.star-rating {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(77, 77, 77, 0.7);
  padding: 5px;
  margin-top: 0 !important;
  padding-top: 0 !important;
  border-radius: 5px;
}

/**************************************************/
/** Página JetSki DETAILS */
.jetski-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 1rem;
  margin-top: 9.5rem;
  border-radius: 12px;
  background-color: var(--background-color);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}

/* Contenedor para la foto, el título y el propietario */
.jetski-pic-owner {
  background-color: #001931;
  border-radius: 12px;
  padding: 0.2rem;
}

.jetski-details img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px 8px 0 0;
}

.jetski-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 0.2rem auto;
  padding: 0.4rem 0.9rem;
  flex-wrap: wrap;
}

.jetski-header h2, .jetski-header h1 {
  margin: 0;
  font-size: 1rem;
  color: #fff;
}

.owner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#owner-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.jetski-info {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  flex-direction: column;
}

.jetski-info p {
  justify-content: flex-start;
  padding: 0.5rem;
  white-space: pre-line;
  color: var(--sand);
}

/* Etiquetas de información */
.jetski-tags {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.jetski-tags .tag {
  background-color: #cfcfcf;
  /* color: #333; */
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
}


/* Contenedor de la reserva a la derecha */
.reservation-jetski-details {
  max-width: 100%;
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 12px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
@media (min-width: 768px) {
  .btn-reserve {
    padding: 1rem;
    font-size: 1.2rem;
  }
}

.reservation-jetski-details h2 {    /* Precio */
  font-size: 1rem;
  padding: 0.4rem 1rem;
  font-weight: bold;
  background-color: var(--primary);
  color: #fff;
  background-color: var(--sand);
  color: #000;
  border-radius: 8px;
}

.date-reservation {
  margin: 0;
}

.date-reservation input {
  width: 100%;
  box-sizing: border-box;
  margin-top: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  text-align: center;
}

.btn-reserve {
  background-color: var(--primary);
  color: #fff;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
  width: 100%;
  font-size: 1.1rem;
}

.btn-reserve h4 {
  margin: 0;
  font-size: 1rem;
}

.btn-reserve:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Sección reserva si no está autenticado */
.reservation-jetski-details p {   /* Texto de "aviso" */
  text-align: center;
  padding: 0;
  color: #000;
}

.reservation-jetski-details #no-log { /* Caja con botones para loguearse */
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  gap: 0.5rem;
}

#btn-1 {
  background-color: var(--secondary);
  border: none;
}

#btn-2 {
  background-color: var(--primary);
  border: none;
}
#btn-1:hover, #btn-2:hover {
  background-color: #001F3F;
  color: var(--sand) !important;
}

/* Contenedor reseñas */
.reviews-container {
  width: 100%;
  margin-top: 1rem;
}

#review-body {
  padding: 0 !important;
}

#review-body h4 {
  margin: 0;
}

.review-item {
  margin: 0 !important;
  padding: 1rem !important;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.review-item:nth-child(even) {    /* pares */
  background-color: #f1f1f1;
}

.review-item:last-child {
  border-bottom: none;
}

.user-review {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;    /* Dioooos mio! para poner el nombre del usuario a la altura de las estrellas :( */
}

.user-review h4 {
  font-size: 1.1rem;
}

.star-ratings .star-container {
  padding: 0 0.1rem !important;
}

.review-item p {
  margin: 5px 0;
  font-size: 1rem;
}

#review-date {
  text-align: right;
  font-weight: 600;
  margin-bottom: 0;
}

/* Añadir reseña */
.add-review {
  padding: 1rem 0 0;
  text-align: center;
}

/* MEDIA QUERIES */
@media (min-width: 370px) {
  .jetski-header {
    justify-content: space-between;
    flex-direction: row;
  }
}

@media (min-width: 900px) {
  .jetski-details {   /*Contenedor padre*/
    margin: 3rem;
  }

  .jetski-pic-owner {
    width: 100%;
  }

  .jetski-header h1, .jetski-header h2 {
    font-size: 1.4rem;
  }

  .jetski-info {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  #owner-photo {
    width: 60px;
    height: 60px;
  }

  .reservation-jetski-details {
    width: 40%;
    margin: 0 0rem 0rem 1rem;
  }

  .reservation-jetski-details h2 {    /* Precio */
    font-size: 1.6rem;
    padding: 0.7rem 1.4rem;

    text-align: center;
  }

  .date-reservation input {
    padding: 0.5rem;
  }

  .btn-reserve {
    padding: 0.9rem 1.8rem;
  }

  .btn-reserve h4 {
    margin: 0;
  }
}


/**************************************************/
/** Perfiles */
.user-profile {
  margin: 8rem 1rem;
}
@media (min-width: 768px) {
  .user-profile {
    margin: 0 8rem;
  }
}

.user-details {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: max-content;
  width: 100%;
  background-color: #cccccc;
  padding: 1rem 0;
  text-align: center;
  margin: 2rem auto;
  border-radius: 8px;
}

.user-details img {
  width: 150px;
  height: 150px;
  margin: 1rem;
  border-radius: 50%;
  object-fit: cover;
}

.user-data {
  text-align: center;
  padding: 0.8rem;;
}

.user-data h2, .user-data h3 {
  font-size: 1.3rem;
}
@media (min-width: 830px) {
  .user-details {
    flex-direction: row;
    width: max-content;
    margin: 6rem auto 0;
    /* padding: 1rem; */
    flex-wrap: wrap;
  }

  .user-details img {
    width: 200px;
    height: 200px;
    margin-right: 2rem;
  }

  .user-data {
    text-align: left;
  }

  .owner-actions {
    width: 100%;
    text-align: right;
    padding-right: 1rem;
  }
}


/**************************************************/
/* Perfiles -- Contenedor motos (solo propietario) */
.owner-jetskis {
  width: 100%;
  background-color: #001F3F;
  text-align: center;
  border-radius: 12px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.owner-jetskis h2, .reservation-container h2 {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  color: #ccc;
  /* font-weight: 600; */
}

.owner-jetskis p {  /* Por si no existen vehículos en el perfil */
  color: #fff;
}

/* Perfiles -- Contenedor reservas */
.reservation-container {
  /* background-color: #f5f5f5; */
  /* background-color: #011224;
  background-color: #001F3F; */
  /* padding: 1rem; */
  border-radius: 12px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}
.reservation-container > p {
  color: #fff;
}


.reservation-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  color: #333;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 12px;
  width: 100%;

}

.reservation-header {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.reservation-header h3 {
  font-size: 1.4rem;
  margin: 0;
  color: var(--background-color);
  font-weight: 700;
}

.price-section .price {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0;
  color: var(--sand);
  font-size: 1.4rem;
  font-weight: 600;
  text-align: right;
  background-color: var(--primary);
  padding: 0.2rem 1rem;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .reservation-header h3 {
    font-size: 1.5rem;
  }
}

/** Clases de bootstrap para el acordeon */
.accordion-header {
  padding: 0 !important;
}
.accordion-header h4 {
  margin: 0 !important;
}
.accordion-button {
  padding: 0.5rem 1rem !important;
  background-color: #00000052 !important;
}
.accordion-button:not(.collapsed) {
  background-color: var(--secondary) !important;
}
.accordion-button:focus {
  box-shadow: var(--sand) !important;
}
.accordion-body {
  padding: 1rem !important;
  padding-bottom: 0 !important;
  margin: 0 !important;
}

/** FOOTER */
#footer {
  margin-top: auto; /* Para que se quede abajo siempre. Da igual el contenido */
  text-align: center;
  padding: 1rem;
  background-color: #001F3F;
  color: var(--primary);
}

#footer p {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#footer a {
  text-decoration: none;
  font-size: 1.5rem;
}

#footer i:hover {
  color: var(--primary);
}


/* Formulario de registro */
.form-container {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
@media (min-width: 600px) {
  .form-container {
    margin-top: 4.5rem;
  }
}

.form-title {
  margin-bottom: 1.5rem;
  color: var(--background-color);
  text-align: center;

}

.form {
  background-color: var(--secondary);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--background-color);
  font-size: 1.1rem;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid var(--primary);
  margin-bottom: 1rem;
  font-size: 1rem;
  background-color: #fff;
}

.form-input:focus {
  outline: none;
  border-color: var(--secondary);
  box-shadow: 0 0 8px var(--primary);
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

/* Clase de bootstrap */
.checkbox-input .form-check-input {
  margin-right: 10px;
}

.checkbox-input .form-check-label {
  font-weight: bold;
  color: var(--primary);
  margin-right: 10px;
}


.submit-button {
  width: 100%;
  padding: 0.8rem;
  background-color: var(--primary);
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: var(--sand);
  color: var(--background-color);
}

.error-message {
  color: rgb(135, 24, 24);
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
  background-color: #33333359;
  padding: 0.5rem;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .form-container {
    padding: 1rem;
  }

  .form-title {
    font-size: 2rem;
  }

  .form-input {
    font-size: 1rem;
  }

  .submit-button {
    font-size: 1rem;
  }
}

/*******************************************************/
/* NOT FOUND */
.not-found {
  position: relative;
  text-align: center;
}

.not-found img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 75%;
}

.not-found-content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.go-home-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: #bf3a15;
  /* color: white !important; */
  border-radius: 8px;
  transition: background-color 0.3s;
  font-weight: bold;
}

.go-home-btn:hover {
  background-color: #d93e1b;
}

/****************************************************/
/* PAGE ERROR */
.error-page {
  text-align: center;
  margin: 2rem auto;
}

.error-img {
  width: 200px;
  margin: 1rem;
  border-radius: 28px;
}

.error-page h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--sand);
  margin-bottom: 4rem;
}

.btn-home {
  background-color: #689bb0;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.1rem;
}

.btn-home:hover {
  background-color: #567b90;
}


/****************************************************/
/* Spinners / pantallas de carga*/
/* Para el authContext que valida credenciales y cargar los perfiles */
  .loading-screen {
    background-color: #001529;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .loading-screen h3 {
    color: var(--sand);
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

/* Modales */
.modal-spinner {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.modal-spinner img{
  border-radius: 12px;
}